# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SPLINT_LEFT

config ZMK_KEYBOARD_NAME
    default "Splint"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_PROXY
    default y

endif



if SHIELD_SPLINT_RIGHT

config ZMK_SPLIT_BLE_CENTRAL_BATTERY_LEVEL_FETCHING
    default y

endif



if SHIELD_SPLINT_LEFT || SHIELD_SPLINT_RIGHT

config ZMK_SPLIT
    default y

config ZMK_BATTERY_REPORTING
    default y

endif
